Options All -Indexes

#paginas amigables
#RewriteEngine On
#RewriteRule ^([-a-zA-Z0-9_/]+)$ index.php?pagina=$1

# Protege el archivo htaccess
<files .htaccess>
order allow,deny
deny from all
</files>

<files private.key>
order allow,deny
deny from all
</files>

<files public.key>
order allow,deny
deny from all
</files>
ErrorDocument 403/ http://localhost/trayecto4/mma/?pagina=error403
# denegar acceso a robots maliciosos, extractores de webs y navegadores offline
RewriteBase /
RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule ^.* - [F,L]

#https://uniwebsidad.com/tutoriales/trucos-y-ejemplos-de-configuracion-del-archivo-htaccess-de-apache?from=librosweb

#https://ayudawp.com/todo-sobre-htaccess/#Limitando_metodos_de_peticion_GET_y_PUT_al_servidor